@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.25em;
}

.clear {
    clear: both;
}

.flex {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #343d4b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container {
    border-radius: 25px;
    -webkit-box-shadow: 0 0 70px 60px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 19px 22px rgb(255 255 255 / 20%);
    background-color: #011430;
    color: #ffffff;
    height: 400px;
    padding: 20pt;
}

.cloud {
    text-transform: uppercase;
}

.chart {
    margin: 100px 300px 300px 300px;
    padding:40px;
}

.chart-label {
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .chart {
        margin: 565px 0 0 0;
        padding:40px
    }
}

.weather-side {
    position: relative;
    height: 400px;
    border-radius: 25px;
    background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
    width: 300px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
}

.weather-side:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, #11191a 10%, #5151e5 100%);
    border-radius: 25px;
    opacity: 0.8;
}

.date-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.date-dayname {
    margin: 0;
}

.date-day {
    display: block;
}

.location {
    display: inline-block;
    margin-top: 10px;
}

.location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.weather-icon.feather {
    height: 60px;
    width: auto;
}

.weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.weather-desc {
    margin: 0;
}

.info-side {
    position: relative;
    float: right;
    height: 100%;
    padding-top: 25px;
}

.today-info {
    padding: 15px;
    margin: 0 25px 25px 25px;
    /* 	box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
}

.today-info>div:not(:last-child) {
    margin: 0 0 10px 0;
}

.today-info>div .title {
    float: left;
    font-weight: 700;
}

.today-info>div .value {
    float: right;
}

.week-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 35px;
    -webkit-box-shadow: 0 0 50px -5px rgba(231, 227, 227, 0.25);
    box-shadow: 0 0 50px -5px rgb(255 255 255 / 25%);
    border-radius: 10px;
    background: rgb(2, 2, 2);
}

.label-chart {
    list-style-type: none;
    padding: 0;
    margin: 10px 35px;
    border-radius: 10px;
}

.week-list>li {
    float: left;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
}

.week-list>li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.week-list>li.active {
    background: #fff;
    color: #222831;
    border-radius: 10px;
}

.week-list>li .day-name {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
}

.week-list>li .day-icon {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto;
}

.week-list>li .day-temp {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 700;
}

.location-container {
    padding: 25px 35px;
}

.location-button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.location-button:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    color: #ffffff !important;
    background-color: black !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

.location-button .feather {
    height: 1em;
    width: auto;
    margin-right: 5px;
}

//loader
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}