<div>
  <div class="container">
    <div class="weather-side">
      <div class="weather-gradient"></div>
      <div class="date-container">
        <h2 class="date-dayname">Weather today</h2><span
          class="date-day">{{(weatherForecastData?.list[0]?.dt)*1000 | date: 'fullDate'}}</span>
        <h2 class="location">{{weatherForecastData?.city?.name}}</h2><br><span>Sun Rises at :
          {{sunRise*1000 | date: 'shortTime'}}</span><br><span>Sun sets at :
            {{sunSet*1000 | date: 'shortTime'}}</span>
      </div>
      <div class="weather-container">
        <h1 class="weather-temp">{{weatherForecastData?.list[0]?.main?.temp}}°C</h1>
        <h3 class="weather-desc">{{weatherForecastData?.list[0]?.weather[0]?.main}}</h3>
      </div>
    </div>
    <div class="info-side">
      <div class="today-info-container">
        <div class="today-info">
          <h5> <span class="cloud">{{weatherForecastData?.list[0]?.weather[0]?.description}}</span>
            <div class="clear"></div>
          </h5>
          <div class="humidity"> <span class="title">Humidity</span><span
              class="value">{{weatherForecastData?.list[0]?.main?.humidity}} %</span>
            <div class="clear"></div>
          </div>
          <div class="wind"> <span class="title">Wind</span><span
              class="value">{{weatherForecastData?.list[0]?.wind?.speed}} km/h</span>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="week-container">
        <label class="label-chart">Click to get details of five European cities</label>
        <ul class="week-list">
          <li (click)="cityDetails('Rome')"><span class="day-name">Rome</span></li>
          <li (click)="cityDetails('London')"><span class="day-name">London</span></li>
          <li (click)="cityDetails('Lisbon')"><span class="day-name">Lisbon</span></li>
          <li (click)="cityDetails('Barcelona')"><span class="day-name">Barcelona</span></li>
          <li (click)="cityDetails('Istanbul')"><span class="day-name">Istanbul</span></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="location-container">
        <input class="form-control" [(ngModel)]="location" placeholder="Enter location" />
        <button class="form-control location-button" (click)="onSubmit(location)"><span>Change location</span></button>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <div *ngIf="loader" class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart">
    <label class="chart-label">The sea level in the next 5 days at 9:00 AM (m MSL)</label>
    <div class="table-weather">
      <table>
        <tr>
          <th class="z1">Place</th>
          <th class="z1">{{day1}}</th>
          <th class="z1">{{day2}}</th>
          <th class="z1">{{day3}}</th>
          <th class="z1">{{day4}}</th>
          <th class="z1">{{day5}}</th>
        </tr>
        <tr>
          <th class="z2">{{weatherForecastData?.city?.name}}</th>
          <td>{{weatherForecastData?.list[0]?.main?.sea_level}}</td>
          <td>{{weatherForecastData?.list[8]?.main?.sea_level}}</td>
          <td>{{weatherForecastData?.list[16]?.main?.sea_level}}</td>
          <td>{{weatherForecastData?.list[24]?.main?.sea_level}}</td>
          <td>{{weatherForecastData?.list[32]?.main?.sea_level}}</td>
        </tr>
      </table>
    </div>
    <br>
    <label class="chart-label">Chart is based on data received from API</label>
    <div>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>