<div class="flex">
  <div class="container">
    <div class="weather-side">
      <div class="weather-gradient"></div>
      <div class="date-container">
        <h2 class="date-dayname">Weather today</h2><span
          class="date-day">{{(weatherForecastData?.list[0]?.dt)*1000 | date: 'fullDate'}}</span>
        <h2 class="location">{{weatherForecastData?.city?.name}}</h2><br><span>Feels like
          {{weatherForecastData?.list[0]?.main?.feels_like}}°C</span>
      </div>
      <div class="weather-container">
        <h1 class="weather-temp">{{weatherForecastData?.list[0]?.main?.temp}}°C</h1>
        <h3 class="weather-desc">{{weatherForecastData?.list[0]?.weather[0]?.main}}</h3>
      </div>
    </div>
    <div class="info-side">
      <div class="today-info-container">
        <div class="today-info">
          <div class="precipitation"> <span class="title">PRECIPITATION</span><span class="value">0 %</span>
            <div class="clear"></div>
          </div>
          <div class="humidity"> <span class="title">HUMIDITY</span><span class="value">34 %</span>
            <div class="clear"></div>
          </div>
          <div class="wind"> <span class="title">WIND</span><span
              class="value">{{weatherForecastData?.list[0]?.wind?.speed}} km/h</span>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="week-container">
        <label class="label-chart">Get details on chart of this four consecutive days</label>
        <ul class="week-list">
          <li class="active"><span class="day-name">{{day1}}</span><span
              class="day-temp">{{weatherForecastData?.list[2]?.main?.temp}}°C</span></li>
          <li><span class="day-name">{{day2}}</span><span
              class="day-temp">{{weatherForecastData?.list[15]?.main?.temp}}°C</span></li>
          <li><span class="day-name">{{day3}}</span><span
              class="day-temp">{{weatherForecastData?.list[20]?.main?.temp}}°C</span></li>
          <li><span class="day-name">{{day4}}</span><span
              class="day-temp">{{weatherForecastData?.list[30]?.main?.temp}}°C</span></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="location-container">
        <input class="form-control" [(ngModel)]="location" placeholder="Enter location" />
        <button class="form-control location-button" (click)="onSubmit(location)"><span>Change location</span></button>
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <div *ngIf="loader" class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chart">
  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType"></canvas>
  </div>
</div>